{% extends 'base.html' %}
{% block title %}
    Отмена Заказа
{% endblock %}

{% block content %}
    <h1>Отмена заказа: <b>{{ order }}</b></h1>
    <h3>Вы уверены что хотите отменить заказ? </h3>
    <form action="{% url 'webapp:order_delete' order.pk%}" method="POST">
        {% csrf_token %}
        <div class="btn-group">
            <button class="btn btn-success" type="submit">Отменить Заказ</button>
            <a class="btn btn-danger" href="{% url 'webapp:order_detail' order.pk %}">Отмена</a>
        </div>
    </form>
{% endblock %}