{% extends 'base.html' %}
{% block title %}Добавить Заказ{% endblock %}
{% block content %}
    <h1 class="text-center">Создание Заказа Оператором</h1>
    <form action="{% url 'webapp:order_create' %}" method="POST">
            {% include "partial/form.html" %}
            <div class="btn btn-group">
                <button type="submit" class="btn btn-primary">Создать</button>
                <a href="{% url 'webapp:order_detail' order.pk %}" class="btn btn-danger">Отмена</a>
            </div>
        </form>
{% endblock %}